/*------------BASIC STRUCTURE-----------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background: #fff;
	color:#555;
	font-family: 'Glegoo', serif;
	font-weight: 300px;
	font-size:20px;
	text-rendering: optimizeLegibility;
}

.clear-fix{zoom: 1;}
.clear-fix:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*****************************/
/*---Resusable components----*/
/****************************/
.row{
	max-width: 1140px;
	margin: 0 auto;
}

section{
	padding: 80px 0;
}
h3{
	font-size: 110%;
	margin-bottom: 10px;
	
}

h2{
	font-size: 180%;
	text-align: center;
	word-spacing: 2px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}
h2:after{
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

/*-------------------------------*/
/*-------------header----------*/

header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/cuisine.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.logo{
	height: 100px;
	width: auto;
	float: left;
	margin-top: 0px;
}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 40px;
}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:visited,
.main-nav li a:link{
	padding: 8px 0;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}


.main-nav li a:active,
.main-nav li a:hover{
	border-bottom: 2px solid #cf6d17;
}

.hero-text{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1, h2, h3{
	text-transform: uppercase;
	word-spacing: 3px;
	font-weight: 300;
}

h1{
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 230%;
	letter-spacing: 1px;
}

.long-copy{
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	margin-bottom: 10px;
}

.box{
	padding: 1%;
}

.box p{
	font-size: 90%;
	line-height: 145%;
	text-align: center;
}

.box h3{
	text-align: center;
}

/*-------------ICON-------------*/
.icon-big{
	font-size: 150% !important;
	color: #e67e22;
	margin-bottom: 10px;
	display: block;
	text-align: center;
	width: 100% !important;
}

.icon-small{
	width: 30px;
	display: inline-block;
	color: #e67e22;
	text-align: center;
	font-size: 120%;
	margin-right: 10px;
	
	/*align font to text*/
	line-height: 120%;
	vertical-align: middle;
	margin-top: -5px;
}

/*-----------BUTTONS------------*/

.btn:link,
.btn:visited,
input[type=submit]{
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	font-weight: 300;
	border-radius: 200px;
	transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:active,
.btn:hover,
input[type=submit]:active,
input[type=submit]:hover{
	background-color: #cf6d17;
}

.btn-full:active,
.btn-full:hover{
	border: 1px solid #cf6d17;
}

.btn-ghost:active,
.btn-ghost:hover{
	border: 1px solid #cf6d17;
	color: white;
}

/*----------MEALS------------*/
.section-meal{
	padding: 0;
}

.meals{
	list-style: none;
	width: 100%;
}

.meals li{
	display: block;
	float: left;
	width: 25%;
}
.meal-photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img{
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover{
	transform: scale(1.03);
	opacity: 1;
}

/*-------how it works------*/

.section-how{
	background-color: #f4f4f4;
}


.step-box:first-child{
	text-align: right;
	margin-top: 30px;
}

.step-box:last-child{
	margin-top: 70px;
}

.app-screen{
	width: 60%;
}

.step{
	margin-bottom: 30px;
}

.step div{
	color: #e67e22;
	border: 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 100%;
	font-weight: bold;
	margin-right: 10px;
	transition: color 0.5s, background-color 0.5s; 
}
.step div:hover{
	color: #fff;
	background-color: #e67e22;
	cursor: pointer;
}

.app-icon-cover{
	margin-top: 40px;
}

.app-icon img{
	height: 50px;
	width: auto;
	margin-right:5px;
}

.city-img{
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}
.city-features{
	margin-bottom: 5px;
}

.city-features a, .city-features a:active{
	text-decoration: none;
	color: #e67e22;
	border-bottom: 1px solid #e67e22;
	padding-bottom: 1px;
	transition: color 0.2s, border-bottom 0.2s;
}

.city-features a:hover{
	color: #555;
	border-bottom: 1px solid transparent;
}

/*-------------testimonials------------*/

.testimonials{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/customers.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

blockquote:before{
	content: "\201C";
	font-size: 300%;
	display: block;
	position: absolute;
	top: -5px;
	left: 0;
}

blockquote{
	font-style: italic;
	line-height: 145%;
	padding: 3px;
	position: relative;
	margin-top: 40px;
}

cite{
	font-size: 90%;
	margin-top: 27px;
	display: block;
	text-align: center;
}

cite img{
	border-radius: 50%;
	height: 100px;
	vertical-align: middle;
	margin-right: 5px;
}

.section-price{
	background-color: #f4f4f4;
}

.plan-box{
	background-color: #ffff;
	width: 90%;
	margin-left: 5%;
	border-radius: 5px;
	box-shadow: 0 5px 3px #efefef;
	transition: box-shadow 0.3s;
}

.plan-box:hover{
	box-shadow: 0 5px 3px #515254;
}

.plan-box div{
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-box ul{
	list-style: none;
}

.plan-box ul li{
	padding: 5px 0;
	font-size: 80%;
}

.plan-price{
	font-size: 200%;
	font-weight: 100;
	margin-bottom: 20px;
	color: #e67e22;
}

.plan-price span{
	font-size: 40%;
	font-weight: 300;
}

.plan-price-meal{
	font-size: 70%;
}

.plan-box div:first-child{
	background-color:#fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.plan-box div:last-child{
	text-align: center;
	border: 0;
}


/**------contact-form-------**/
.contact-form{
	width: 60%;
	margin: 0 auto;	
}

input[type=text],input[type=email] , select, textarea{
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea{
	height: 100px;
}
input[type=submit]:hover{
	cursor: pointer;
}

/*
input:focus, textarea:focus{
	outline: none;
}
*/

/***-----------footer------------***/
footer{
	background-color: #000;
}

.section-footer{
	display: block;
}

.section-footer ul li a{
	text-decoration: none;
	
}

.section-footer ul li a:link,
.section-footer ul li a:visited{
	color:gray;
	border-bottom: 1px solid gray;
	transition: border-bottom 0.3s;
}

.section-footer ul li a:hover,
.section-footer ul li a:active{
	color: #C1C1C1;
	border-bottom: 1px solid transparent;
}

.footer-nav li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	font-size: 80%;
}

.footer-social li{
	display: inline-block;
	list-style: none;
	margin-right: 20px;
	font-size: 90%;
}

.footer-nav{
	float:left:
}

.footer-social{
	float: right;
}


.fa-facebook,
.fa-instagram,
.fa-twitter{
	transition: color 0.3s;
}

.fa-facebook:hover,
.fa-facebook:active{
	color: #3b5998;
}

.fa-twitter:hover,
.fa-twitter:active{
	color: #00aced;
}

.fa-instagram:hover,
.fa-instagram:active{
	color: #517fa4;
}

footer p{
	color: #C1C1C1;
	text-align: center;
	font-size: 60%;
	padding: 5px;
}

footer span{
	float: right;
}

.section-footer ul li:last-child{
	margin-right: 0;
}